<div class="container">

  <div class="col-md-12 mb-3">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <button mat-icon-button aria-label="regresar" matTooltip="Regresar">
          <mat-icon>arrow_back</mat-icon>
        </button> <span class="titulo-p">Expediente N° 21-00045</span>
      </div>
      <div class="col-md-6 text-end">
        <mat-form-field class="col-lg-4 col-12" appearance="outline">
          <mat-label>Acciones </mat-label>
          <mat-select>
            <mat-option value="option">Confirmación recepción</mat-option>
            <mat-option value="option">Rechazar recepción</mat-option>
            <mat-option value="option">Derivar</mat-option>
            <mat-option value="option">Anular</mat-option>
            <mat-option value="option">Finalizar</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2 col-12">
      <div class="d-flex flex-column btn-tab">
        <button class="mb-2 active" mat-raised-button> Datos principales</button>
        <button class="mb-2" mat-raised-button> Información adicional</button>
        <button class="mb-2" mat-raised-button> Audiencia</button>
        <button class="mb-2" mat-raised-button> Plan de acción</button>
        <button class="mb-2" mat-raised-button> Historial</button>
      </div>
    </div>
    <div class="col-lg-10 col-12">
      <div class="row">
        <!--CARD1-datos de documento-->
        <div class="col-lg-12">
          <mat-card class="mb-3">
            <div class="estado-c3-detalle">E</div>
            <div class=" pl-15">
              <div class="col-lg-12 d-flex flex-wrap justify-content-between barra-bandeja-titulo">
                <div class="col-lg-7 d-flex flex-wrap justify-content-start align-items-center">
                  <div class="col-lg-4 col-12 d-flex align-items-center mb-mob-8 flex-between">
                    <span class="ml-3 number-card">UP-00045-22</span>
                  </div>
                  <div class="col-lg-8 col-12 mb-mob-8">
                    <span class="coment-card"> Informe de calidad del aire 2021-21</span>
                  </div>
                </div>
                <div class="col-lg-5 col-12 d-flex justify-content-end align-items-center">
                  <div class="col-lg-4 col-6 text-end">
                    <h2 class="mb-0"><span class="badge-c4">Nuevo ingreso</span></h2>
                  </div>
                </div>
              </div>

            </div>
          </mat-card>

          <mat-card class="mb-3">
            <div class="row">
              <div class="col-lg-12">
                <dt class="subtitulo-p">Datos del Remitente</dt>
              </div>

              <div class="col-lg-4 col-6">
                <dt>Tipo</dt>
                <dd>Persona Jurídica</dd>
              </div>
              <div class="col-lg-4 col-6">
                <dt>Pais</dt>
                <dd>Perú</dd>
              </div>
              <div class="col-lg-4 col-6">
                <dt>RUC</dt>
                <dd>20460710398</dd>
              </div>
              <div class="col-lg-4 col-6">
                <dt>Razón Social</dt>
                <dd>OEFA</dd>
              </div>
              <div class="col-lg-8 col-6">
                <dt></dt>
                <dd></dd>
              </div>
              <div>
                <hr>
              </div>
              <div class="col-lg-12">
                <div class="subtitulo-p"> Datos de contacto</div>
              </div>
              <div class="col-lg-4 col-6">
                <dt>Persona que registra el documento</dt>
                <dd>Gladys Kailyn Rengifo</dd>
              </div>
              <div class="col-lg-4 col-6">
                <!-- <dt>Correo electrónico <button mat-icon-button
                                    matTooltip="Se utiliza para enviar Confirmación de recepción"
                                    aria-label="">
                              <mat-icon>info</mat-icon>
                            </button>  </dt> -->
                <dt>Correo electrónico</dt>
                <dd>grengifo@oefa.gob.pe</dd>
              </div>

              <div class="col-lg-4 col-6">
                <dt>Teléfono de contacto</dt>
                <dd>987654321</dd>
              </div>

            </div>
          </mat-card>

          <mat-card class="mb-3">
            <div class="row">
              <div class="col-lg-12">
                <dt class="subtitulo-p">Destinatarios</dt>
              </div>

              <div class="col-lg-12">
                <div class="row align-items-center">
                  <div class="col-lg-2 d-flex align-items-center">
                    <mat-icon class="avatar-detalle">account_circle</mat-icon>
                    <b>David Cueto</b>
                  </div>
                  <div class="col-lg-2 ">
                    <dt>Puesto</dt>
                    <dd>Jefe</dd>
                  </div>
                  <div class="col-lg-3">
                    <dt>Área / División</dt>
                    <dd>División de media ambiente</dd>
                  </div>
                  <div class="col-lg-2">
                    <dt>Sede</dt>
                    <dd>Atocongo</dd>
                  </div>
                  <div class="col-lg-3 d-flex align-items-center justify-content-between">
                    <div class="badge-c4 mr-2">Responsable</div>
                    <mat-icon>visibility</mat-icon>
                  </div>
                </div>
                <div class="col-lg-12">
                  <hr>
                </div>
                <div class="row align-items-center">
                  <div class="col-lg-2 d-flex align-items-center">
                    <mat-icon class="avatar-detalle">account_circle</mat-icon>
                    <b>Jhon Elias</b>
                  </div>
                  <div class="col-lg-2 ">
                    <dt>Puesto</dt>
                    <dd>Sup. ambiental</dd>
                  </div>
                  <div class="col-lg-3">
                    <dt>Área / División</dt>
                    <dd>División de media ambiente</dd>
                  </div>
                  <div class="col-lg-2">
                    <dt>Sede</dt>
                    <dd>Atocongo</dd>
                  </div>
                  <div class="col-lg-3 d-flex align-items-center justify-content-between">
                    <div></div>
                    <mat-icon class="align-self-end">visibility_off</mat-icon>
                  </div>
                </div>
              </div>

            </div>
          </mat-card>
          <!-- <mat-card class="mb-3">
                        <div class="row">
                            <div class="col-lg-2 col-6">
                                <dt>Remitente</dt>
                                <dd>ACME SA</dd>
                            </div>
                            <div class="col-lg-4 col-6">
                                <dt>Destinatario</dt>
                                <dd>División del medio ambiente</dd>
                            </div>
                            <div class="col-lg-2 col-6">
                                <dt>Fecha de registro</dt>
                                <dd>29/12/2021</dd>
                            </div>
                            <div class="col-lg-2 col-6">
                                <dt>Fecha de recepción</dt>
                                <dd>-</dd>
                            </div>
                            <div class="col-lg-2 col-6">
                                <dt>Estado</dt>
                                <dd><h3 class="mb-0"><span class="badge2">Nuevo ingreso</span></h3></dd>
                            </div>
                        </div>
                    </mat-card> -->
          <mat-card class="mb-3">

            <div class="col-lg-12">
              <dt class="subtitulo-p">Datos del documento</dt>
            </div>

            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-12 mb-3">
                  <dt>Asunto</dt>
                  <dd>Solicitud de informe de calidad del aire 2021</dd>
                </div>
                <div class="col-lg-4 col-6 mb-3">
                  <dt>Fecha de documento</dt>
                  <dd>15/01/2022</dd>
                </div>
                <div class="col-lg-4 col-6 mb-3">
                  <dt>Referencia</dt>
                  <dd>NTP-12345-ABC</dd>
                </div>

                <div class="col-lg-4"></div>

                <div class="col-lg-4 col-6 mb-3">
                  <dt>Proyecto</dt>
                  <dd>IGA 2102 Control de calidad del aire</dd>
                </div>

                <div class="col-lg-4 col-6 mb-3">
                  <dt>Proveedor</dt>
                  <dd>SIEMENS</dd>
                </div>

                <div class="col-lg-4 col-6 mb-3">
                  <dt>Contrato</dt>
                  <dd>CNT-22-4553677</dd>
                </div>

                <div class="col-lg-4 col-6 mb-3">
                  <dt>Fecha de registro</dt>
                  <dd>16/01/2022</dd>
                </div>

                <div class="col-lg-4 col-6 mb-3">
                  <dt>Fecha de recepción</dt>
                  <dd>16/01/2022</dd>
                </div>

                <div class="col-lg-4 col-6 mb-3">
                  <dt>Usuario registro</dt>
                  <dd>Mesa de partes virtual</dd>
                </div>

                <div>
                  <hr>
                </div>

                <div class="col-lg-12">
                  <div class="subtitulo-p">Archivos</div>
                  <div class="table-responsive">
                    <table class="table mt-3">
                      <thead>
                        <tr>
                          <th>Archivos</th>
                          <th>Cód. Externo</th>
                          <th>Tipo</th>
                          <th>Título o Descripción</th>
                          <th>Rev.</th>
                          <th>F. caducidad</th>
                          <th>Desc.</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>ACME-21-6552-C.pdf <span class="badge bg-primary">P</span></td>
                          <td>OEFA-3454-A</td>
                          <td>Carta</td>
                          <td>Carta de entrega de informe</td>
                          <td>2.0</td>
                          <td>-</td>
                          <td class="lista-opciones">
                            <ul>
                              <li>
                                <button mat-icon-button aria-label="historia" matTooltip="Historia">
                                  <mat-icon>history</mat-icon>
                                </button>
                              </li>
                              <li>
                                <button mat-icon-button aria-label="descargar" matTooltip="Descargar">
                                  <mat-icon>file_download</mat-icon>
                                </button>
                              </li>
                            </ul>

                          </td>
                        </tr>


                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </mat-card>

          <mat-card class="mb-3">
            <div class="row">
              <div class="col-lg-12 mb-3">
                <dt class="subtitulo-p">Notas y Comentarios</dt>
              </div>


              <mat-form-field class="col-lg-12 col-12" appearance="outline">
                <mat-label>Nuevo Comentario</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
              <div class="text-end mb-3">
                <button mat-stroked-button class="mr-3" color="primary">Adjuntar</button>
                <button mat-raised-button color="primary">Guardar</button>
              </div>

              <div>
                <hr>
              </div>

              <div class="col-lg-12 col-12 d-flex justify-content-between">
                <div>
                  <b> David Cueto</b>
                </div>
                <div>
                  29/12/2021 11:23
                  <button mat-icon-button aria-label="eliminar" matTooltip="Eliminar">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>

              <mat-form-field class="col-lg-12 col-12" appearance="outline">
                <mat-label>El contratista entregará la segunda parte del informe el 15/01/2021
                </mat-label>
                <textarea matInput disabled></textarea>
              </mat-form-field>


            </div>
          </mat-card>

        </div>
        <!--fin datos del documento-->

        <!--CARD2-informacion de envio-->
        <div class="col-lg-12">
          <mat-card class="mb-3">
            <div class="row">

              <div class="col-lg-12 d-flex mb-3 justify-content-between">
                <dt class="subtitulo-p">Información adicional</dt>
                <!-- <button mat-icon-button aria-label="regresar">
                                    <mat-icon>edit</mat-icon>
                                </button> -->
              </div>

              <div>
                <div class=" separador">
                  <dt>Requiere respuesta</dt>
                  <dd>Fecha límite: <b>15/02/2022</b></dd>
                </div>
                <div class="d-flex justify-content-between separador">
                  <div>URGENTE</div>
                  <div>
                    <mat-icon>info</mat-icon>
                  </div>
                </div>
                <div class=" separador">
                  <dt>Cliente</dt>
                  <dd>Acme</dd>
                </div>
                <div class=" separador">
                  <dt>Zona</dt>
                  <dd>Proceso primario</dd>
                </div>

                <!-- <div class=" separador">
                                    <div>Contrato asociado:</div>
                                    <div>CO-UC-21-445564
                                        <span>
                                            <button mat-icon-button aria-label="regresar">
                                                <mat-icon>open_in_new</mat-icon>
                                            </button>
                                        </span>
                                    </div>
                                </div> -->
              </div>

              <!-- <div class="col-lg-12">
                            <mat-card class="mb-3">
                                <div class="row">
                                    <div class="col-lg-12 d-flex flex-wrap justify-content-between barra-bandeja-titulo">
                                        <div class="d-flex align-items-center">
                                            Tema 1
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        With supporting text below as a natural lead-in to additional content
                                    </div>
                                </div>
                            </mat-card>
                            </div>

                            <div class="col-lg-12">
                            <mat-card class="mb-3">
                                <div class="row">
                                    <div class="col-lg-12 d-flex flex-wrap justify-content-between barra-bandeja-titulo">
                                        <div class="d-flex align-items-center">
                                            Tema 2
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        With supporting text below as a natural lead-in to additional content
                                    </div>
                                </div>
                            </mat-card>
                            </div> -->

              <div class="mb-3">
                <dt class="mb-3">Expedientes asociados</dt>
                <mat-card class="mb-3">
                  <div class="estado-c3-asociado">E</div>
                  <div class="row pl-15">
                    <div class="col-lg-12 d-flex flex-wrap justify-content-between barra-bandeja-titulo">
                      <div class="col-lg-7 d-flex flex-wrap justify-content-start align-items-center">
                        <div class="col-lg-4 col-12 d-flex align-items-center mb-mob-8 flex-between">
                          <span class="ml-3 number-card">UP-00045-22</span>
                          <mat-icon class="c-green">circle</mat-icon>
                        </div>
                        <div class="col-lg-8 col-12 mb-mob-8">
                          <span class="coment-card"> Informe de calidad del aire
                            2021-21</span>
                        </div>
                      </div>
                      <div class="col-lg-5 col-12 d-flex justify-content-end align-items-center">
                        <div class="col-lg-4 col-6 text-end">
                          <h2 class="mb-0"><span class="badge-c4">Nuevo ingreso</span></h2>
                        </div>

                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-md-2 col-6">
                          <dt>Remitente</dt>
                          <dd>ACME SAC</dd>
                        </div>
                        <div class="col-md-2 col-6">
                          <dt>Destinatario</dt>
                          <dd>División de medio ambiente</dd>
                        </div>
                        <div class="col-md-2 col-6">
                          <dt>Fecha de registro</dt>
                          <dd>29/12/2021-11:05</dd>
                        </div>
                        <div class="col-md-2 col-6">
                          <dt>Tipo de documento</dt>
                          <dd>Carta</dd>
                        </div>
                        <div class="col-md-2 col-6">
                          <dt>Tarea pendiente</dt>
                          <dd>Confirmar recepción</dd>
                        </div>
                        <div class="col-md-2 col-6">
                          <dt>F. Limite atención</dt>
                          <dd>28/12/2021</dd>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card>

                <mat-card>
                  <div class="estado-c3-asociado">E</div>
                  <div class="row pl-15">
                    <div class="col-lg-12 d-flex flex-wrap justify-content-between barra-bandeja-titulo">
                      <div class="col-lg-7 d-flex flex-wrap justify-content-start align-items-center">
                        <div class="col-lg-4 col-12 d-flex align-items-center mb-mob-8 flex-between">
                          <span class="ml- number-card">UP-00045-22</span>
                          <mat-icon class="c-green">circle</mat-icon>
                        </div>
                        <div class="col-lg-8 col-12 mb-mob-8">
                          <span class="coment-card"> Informe de calidad del aire
                            2021-21</span>
                        </div>
                      </div>
                      <div class="col-lg-5 col-12 d-flex justify-content-end align-items-center">
                        <div class="col-lg-4 col-6 text-end">
                          <h2 class="mb-0"><span class="badge-c4">Nuevo ingreso</span></h2>
                        </div>

                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-md-2 col-6">
                          <dt>Remitente</dt>
                          <dd>ACME SAC</dd>
                        </div>
                        <div class="col-md-2 col-6">
                          <dt>Destinatario</dt>
                          <dd>División de medio ambiente</dd>
                        </div>
                        <div class="col-md-2 col-6">
                          <dt>Fecha de registro</dt>
                          <dd>29/12/2021-11:05</dd>
                        </div>
                        <div class="col-md-2 col-6">
                          <dt>Tipo de documento</dt>
                          <dd>Carta</dd>
                        </div>
                        <div class="col-md-2 col-6">
                          <dt>Tarea pendiente</dt>
                          <dd>Confirmar recepción</dd>
                        </div>
                        <div class="col-md-2 col-6">
                          <dt>F. Limite atención</dt>
                          <dd>28/12/2021</dd>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-card>
              </div>

              <div class="col-lg-12 mb-3 separador">
                <dt class="mb-3">Ubicación fisica</dt>
                <div class="row">
                  <div class="col-lg-2 col-6">
                    <dt>Formato</dt>
                    <dd>Impreso</dd>
                  </div>
                  <div class="col-lg-2 col-6">
                    <dt>Sede</dt>
                    <dd>Atocongo</dd>
                  </div>
                  <div class="col-lg-2 col-6">
                    <dt>Ubicación</dt>
                    <dd>Container A - Zona 1</dd>
                  </div>
                  <div class="col-lg-2 col-6">
                    <dt>Estante</dt>
                    <dd>A203</dd>
                  </div>
                  <div class="col-lg-2 col-6">
                    <dt>Caja</dt>
                    <dd>C-2022-04862</dd>
                  </div>
                  <div class="col-lg-2 col-6">
                    <dt>Volumen</dt>
                    <dd>V-2022-00489</dd>
                  </div>
                </div>

              </div>

              <div class=" separador">
                <dt>Norma</dt>
                <dd>Norma Técnica Peruana N° 2344</dd>
              </div>

              <div class="">
                <dt>Palabras clave</dt>
                <dd>DMAU, Multa, Aire</dd>
              </div>

            </div>
          </mat-card>
        </div>
        <!--fin informacion de envio-->

        <!--CARD3-audiencia-->
        <div class="col-lg-12">
          <mat-card class="mb-3">
            <div class="row">
              <div class="col-lg-12 d-flex mb-3 justify-content-between">
                <dt class="subtitulo-p">Áreas</dt>
                <button mat-icon-button aria-label="regresar" matTooltip="Agregar">
                  <mat-icon>add_circle</mat-icon>
                </button>
              </div>
              <div class="col-lg-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Área</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>División de Medio Ambiente</td>
                      <td>
                        <button mat-icon-button aria-label="regresar" matTooltip="Eliminar">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </mat-card>
          <mat-card class="mb-3">
            <div class="row">
              <div class="col-lg-12 d-flex mb-3 justify-content-between">
                <dt class="subtitulo-p">Usuarios</dt>
                <button mat-icon-button aria-label="regresar" matTooltip="Agregar">
                  <mat-icon>add_circle</mat-icon>
                </button>
              </div>
              <div class="col-lg-12 table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Usuario</th>
                      <th>Sede</th>
                      <th>Área</th>
                      <th>Puesto</th>
                      <th>Acc.</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Jhon Elias</td>
                      <td>Atocongo</td>
                      <td>División de Medio Ambiente</td>
                      <td>Jefe de división de medio ambiente</td>
                      <td>
                        <button mat-icon-button aria-label="regresar" matTooltip="Eliminar">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </mat-card>
        </div>
        <!--fin de audiencia-->

        <!--CARD4-plan de accion-->
        <div class="col-lg-12">

          <mat-card class="mb-3">
            <div class="row">
              <div class="col-lg-12 d-flex mb-3 justify-content-between">
                <dt class="subtitulo-p">Actividades</dt>
                <div>
                  <!-- <button mat-icon-button aria-label="regresar">
                                        <mat-icon>send</mat-icon>
                                     </button> -->
                  <button mat-icon-button aria-label="agregar" matTooltip="Agregar">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                </div>
              </div>

              <div class="col-lg-12">
                <mat-card class="mb-3">
                  <!-- cabecera -->
                  <div class="d-flex justify-content-between flex-wrap mb-4">
                    <div class="col-lg-4 col-12">
                      <b class="c-red">Evaluar impacto</b>
                    </div>
                    <div class="d-flex align-items-center justify-content-between col-lg-8 col-12 flex-wrap">
                      <div class="d-flex align-items-center flex-wrap datos-item">
                        <div class="item-hijo">
                          <mat-icon>schedule</mat-icon>
                          2 días hábiles
                        </div>
                        <div class="item-hijo">
                          <mat-icon>today</mat-icon>
                          06/01/2022
                        </div>
                        <div class="item-hijo">
                          <mat-icon>groups</mat-icon>
                          Todos deben finalizar
                        </div>
                      </div>

                      <div class="badge-c4">En ejecución</div>
                      <div>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="" matTooltip="Más opciones">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                          <button mat-menu-item>
                            <mat-icon>account_tree</mat-icon>
                            <span>Aplicar flujo predefinido</span>
                          </button>
                          <button type="button" mat-menu-item>
                            <mat-icon>add</mat-icon>
                            <span>Nuevo paso</span>
                          </button>
                        </mat-menu>
                      </div>
                    </div>
                  </div>
                  <!-- fin de cabecera -->
                  <!-- item -->
                  <div class="d-flex justify-content-between align-items-center flex-wrap item-exp mb-1">
                    <div class="col-lg-6 col-12">
                      David cueto <b>(División de medio ambiente)</b>
                    </div>
                    <div class="col-lg-6 col-12 d-flex justify-content-between flex-wrap align-items-center">
                      <div class="d-flex align-items-center">
                        04/01/2022 11:30
                        <mat-icon>chevron_right</mat-icon>
                        04/01/2022 11:38
                      </div>
                      <div>
                        <span class="badge-c4-item">Finalizado</span>
                      </div>
                      <div>
                        <button class="active-g" mat-icon-button aria-label="agregar" matTooltip="Agregar">
                          <mat-icon>check_circle</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div>
                    <hr>
                  </div>
                  <div class="d-flex justify-content-between align-items-center flex-wrap item-exp mb-1">
                    <div class="col-lg-6 col-12">
                      David cueto <b>(División de medio ambiente)</b>
                    </div>
                    <div class="col-lg-6 col-12 d-flex justify-content-between flex-wrap align-items-center">
                      <div class="d-flex align-items-center">
                        04/01/2022 11:30
                        <mat-icon>chevron_right</mat-icon>
                        04/01/2022 11:38
                      </div>
                      <div>
                        <span class="badge-c4-item">Finalizado</span>
                      </div>
                      <div>
                        <button class="active-g" mat-icon-button aria-label="agregar" matTooltip="Agregar">
                          <mat-icon>check_circle</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- fin item -->
                  <div>
                    <hr>
                  </div>

                </mat-card>

                <mat-card class="mb-3">
                  <!-- cabecera -->
                  <div class="d-flex justify-content-between flex-wrap mb-4">
                    <div class="col-lg-4 col-12">
                      <b class="c-red">Evaluar respuesta</b>
                    </div>
                    <div class="d-flex align-items-center justify-content-between col-lg-8 col-12 flex-wrap">
                      <div class="d-flex align-items-center flex-wrap datos-item">
                        <div class="item-hijo">
                          <mat-icon>schedule</mat-icon>
                          2 días hábiles
                        </div>
                        <div class="item-hijo">
                          <mat-icon>today</mat-icon>
                          06/01/2022
                        </div>
                        <div class="item-hijo">
                          <mat-icon>groups</mat-icon>
                          Todos deben finalizar
                        </div>
                      </div>

                      <div class="badge-c4">En ejecución</div>
                      <div>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="" matTooltip="Más opciones">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                          <button mat-menu-item>
                            <mat-icon>account_tree</mat-icon>
                            <span>Aplicar flujo predefinido</span>
                          </button>
                          <button mat-menu-item>
                            <mat-icon>add</mat-icon>
                            <span>Nuevo paso</span>
                          </button>
                        </mat-menu>
                      </div>
                    </div>
                  </div>
                  <!-- fin de cabecera -->
                  <!-- item -->
                  <div class="d-flex justify-content-between align-items-center flex-wrap item-exp mb-1">
                    <div class="col-lg-6 col-12">
                      David cueto <b>(División de medio ambiente)</b>
                    </div>
                    <div class="col-lg-6 col-12 d-flex justify-content-between flex-wrap align-items-center">
                      <div class="d-flex align-items-center">
                        04/01/2022 11:30
                        <mat-icon>chevron_right</mat-icon>
                        04/01/2022 11:38
                      </div>
                      <div>
                        <span class="badge-c4-item">Finalizado</span>
                      </div>
                      <div>
                        <button class="active-g" mat-icon-button aria-label="agregar" matTooltip="Agregar">
                          <mat-icon>check_circle</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div>
                    <hr>
                  </div>
                  <div class="d-flex justify-content-between align-items-center flex-wrap item-exp mb-1">
                    <div class="col-lg-6 col-12">
                      David cueto <b>(División de medio ambiente)</b>
                    </div>
                    <div class="col-lg-6 col-12 d-flex justify-content-between flex-wrap align-items-center">
                      <div class="d-flex align-items-center">
                        04/01/2022 11:30
                        <mat-icon>chevron_right</mat-icon>
                        04/01/2022 11:38
                      </div>
                      <div>
                        <span class="badge-c4-item">Finalizado</span>
                      </div>
                      <div>
                        <button class="active-g" mat-icon-button aria-label="agregar" matTooltip="Agregar">
                          <mat-icon>check_circle</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- fin item -->
                  <div>
                    <hr>
                  </div>

                </mat-card>
              </div>

              <!-- <div class="col-lg-12">
                                <div class="head-actividad d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="col-lg-2 col-12"> <b>Evaluar impacto</b> </div>
                                    <div class="col-lg-10 col-12 d-flex justify-content-between align-items-center flex-wrap">
                                        <div class="col-lg-2 col-6"></div>
                                        <div class="col-lg-2 col-6 d-flex align-items-center">
                                            <mat-icon>schedule</mat-icon>
                                            2 días hábiles
                                        </div>
                                        <div class="col-lg-2 col-6 d-flex align-items-center">
                                            <mat-icon>today</mat-icon>
                                            06/01/2022
                                        </div>
                                        <div class="col-lg-3 col-6 d-flex align-items-center">
                                            <mat-icon>groups</mat-icon>
                                            Todos deben finalizar
                                        </div>
                                        <div class="col-lg-2 col-6">
                                            <div class="badge-c4">En ejecución</div>
                                        </div>
                                        <div class="col-lg-1 col-6">
                                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu" xPosition="before">
                                                <button mat-menu-item>
                                                    <mat-icon>account_tree</mat-icon>
                                                    <span>Aplicar flujo predefinido</span>
                                                </button>
                                                <button mat-menu-item>
                                                    <mat-icon>add</mat-icon>
                                                    <span>Nuevo paso</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="d-flex justify-content-between separador mt-3 pad-0-10 align-items-center flex-wrap">
                                        <div class="col-lg-4 col-12">David Cueto (División de medio ambiente)</div>
                                        <div class="col-lg-2 col-6">04/01/2022 11:30</div>
                                        <div class="col-lg-1 col-6">
                                            <mat-icon>chevron_right</mat-icon>
                                        </div>
                                        <div class="col-lg-2 col-12">04/01/2022 11:38</div>
                                        <div class="col-lg-2 col-6"> <span class="badge-c4">Finalizado</span> </div>
                                        <div class="col-lg-1 col-6">
                                            <button mat-icon-button aria-label="agregar">
                                                <mat-icon>check_circle</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between separador mt-3 pad-0-10 align-items-center flex-wrap">
                                        <div class="col-lg-4 col-12">David Cueto (División de medio ambiente)</div>
                                        <div class="col-lg-2 col-6">04/01/2022 11:30</div>
                                        <div class="col-lg-1 col-6">
                                            <mat-icon>chevron_right</mat-icon>
                                        </div>
                                        <div class="col-lg-2 col-12">04/01/2022 11:38</div>
                                        <div class="col-lg-2 col-6"> <span class="badge-c4">Finalizado</span> </div>
                                        <div class="col-lg-1 col-6">
                                            <button mat-icon-button aria-label="agregar">
                                                <mat-icon>check_circle</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="head-actividad d-flex justify-content-between align-items-center flex-wrap ">
                                    <div class="col-lg-2 col-12"> <b>Evaluar respuesta</b> </div>
                                    <div class="col-lg-10 col-12 d-flex justify-content-between align-items-center flex-wrap">
                                        <div class="col-lg-2 col-6"></div>
                                        <div class="col-lg-2 col-6 d-flex align-items-center">
                                            <mat-icon>schedule</mat-icon>
                                            2 días hábiles
                                        </div>
                                        <div class="col-lg-2 col-6 d-flex align-items-center">
                                            <mat-icon>today</mat-icon>
                                            06/01/2022
                                        </div>
                                        <div class="col-lg-3 col-6 d-flex align-items-center">
                                            <mat-icon>groups</mat-icon>
                                            Todos deben finalizar
                                        </div>
                                        <div class="col-lg-2 col-6">
                                            <div class="badge-c4">En ejecución</div>
                                        </div>
                                        <div class="col-lg-1 col-6">
                                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu" xPosition="before">
                                                <button mat-menu-item>
                                                    <mat-icon>account_tree</mat-icon>
                                                    <span>Aplicar flujo predefinido</span>
                                                </button>
                                                <button mat-menu-item>
                                                    <mat-icon>add</mat-icon>
                                                    <span>Nuevo paso</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-3">
                                    <div class="d-flex justify-content-between separador mt-3 pad-0-10 align-items-center flex-wrap">
                                        <div class="col-lg-4 col-12">David Cueto (División de medio ambiente)</div>
                                        <div class="col-lg-2 col-6">04/01/2022 11:30</div>
                                        <div class="col-lg-1 col-6">
                                            <mat-icon>chevron_right</mat-icon>
                                        </div>
                                        <div class="col-lg-2 col-12">04/01/2022 11:38</div>
                                        <div class="col-lg-2 col-6"> <span class="badge-c4">Finalizado</span> </div>
                                        <div class="col-lg-1 col-6">
                                            <button mat-icon-button aria-label="agregar">
                                                <mat-icon>check_circle</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between separador mt-3 pad-0-10 align-items-center flex-wrap">
                                        <div class="col-lg-4 col-12">David Cueto (División de medio ambiente)</div>
                                        <div class="col-lg-2 col-6">04/01/2022 11:30</div>
                                        <div class="col-lg-1 col-6">
                                            <mat-icon>chevron_right</mat-icon>
                                        </div>
                                        <div class="col-lg-2 col-12">04/01/2022 11:38</div>
                                        <div class="col-lg-2 col-6"> <span class="badge-c4">Finalizado</span> </div>
                                        <div class="col-lg-1 col-6">
                                            <button mat-icon-button aria-label="agregar">
                                                <mat-icon>check_circle</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           -->

            </div>
          </mat-card>

        </div>
        <!--fin plan de accion-->

        <!--CARD5-historial-->
        <div class="col-lg-12">


          <!-- <mat-card class="mb-3">
                        <div class="row">
                            <div class="col-lg-12 mb-3">
                                <dt class="subtitulo-p">Datos envío</dt>
                        </div>

                            <div class="col-lg-3">
                                <dt>Medio</dt>
                                <dd>Mesa de partes virtual</dd>
                            </div>
                            <div class="col-lg-2">
                                <dt>Fecha registro</dt>
                                <dd>29/12/2021 11:05</dd>
                            </div>

                        </div>
                    </mat-card> -->

          <mat-card class="mb-3">
            <div class="row">
              <div class="col-lg-12 d-flex mb-3 justify-content-between">
                <dt class="subtitulo-p">Historial de Eventos</dt>
              </div>
              <div class="col-lg-12">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Fecha y hora</th>
                      <th>Usuario</th>
                      <th>Evento</th>
                      <th>Área</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>29/12/2021 11:05</td>
                      <td>Remitente externo</td>
                      <td>Registra documento</td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <td>29/12/2021 11:15</td>
                      <td>Irene Cuneo</td>
                      <td>Deriva a David Cueto</td>
                      <td>Gerencia General</td>
                    </tr>
                    <tr>
                      <td>29/12/2021 11:20</td>
                      <td>David Cueto</td>
                      <td>Confirma recepción</td>
                      <td>División de Medio Ambiente</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </mat-card>
        </div>
        <!--fin historial-->
      </div>
    </div>
  </div>

</div>