<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <span class="titulo-p">Reporte General</span>
                </div>
                <div class="col-lg-6 text-end">
                    <button class="mt-2 active mr-3" mat-raised-button (click)="onClickExportar()">Exportar a Excel
                        <mat-icon>get_app</mat-icon></button>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-3">
            <div class="col-lg-12">
                <div class="mat-elevation-z3 div-container" [hidden]="dataSource.data.length <= 0">
                    <div class="table-resp">
                        <table class="table" mat-table [dataSource]="dataSource" matSort matSortActive="Codigo"
                            matSortDirection="desc">
                            <ng-container matColumnDef="Codigo">
                                <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
                                <td class="filaTabla" mat-cell *matCellDef="let element">
                                    <a class="link" style="cursor: pointer;" (click)="eventoVerDetalle(element)">{{
                                        element.CodigoContrato }}</a>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Titulo">
                                <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</th>
                                <td class="filaTabla" mat-cell *matCellDef="let element">{{ element.TituloContrato }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="TipoContrato">
                                <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef>Tipo Contrato</th>
                                <td class="filaTabla" mat-cell *matCellDef="let element">{{ element.TipoContrato.Nombre
                                    }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Area">
                                <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef>Área</th>
                                <td class="filaTabla" mat-cell *matCellDef="let element">{{ element.Area.Nombre }}</td>
                            </ng-container>
                            <ng-container matColumnDef="RazonSocial">
                                <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef>Razón Social</th>
                                <td class="filaTabla" mat-cell *matCellDef="let element">{{ element.Proveedor.Nombre }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Estado">
                                <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef>Estado</th>
                                <td class="filaTabla" mat-cell *matCellDef="let element">{{ element.Estado.Nombre }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="FechaInicio">
                                <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
                                <td class="filaTabla" mat-cell *matCellDef="let element">{{ element.TextoFechaInicio }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="FechaFin">
                                <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef>Fecha Fin</th>
                                <td class="filaTabla" mat-cell *matCellDef="let element">{{ element.TextoFechaFin }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Monto">
                                <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef>Monto</th>
                                <td class="filaTabla" mat-cell *matCellDef="let element">{{ element.MontoContrato }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Moneda">
                                <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef>Moneda</th>
                                <td class="filaTabla" mat-cell *matCellDef="let element">{{ element.Moneda.Nombre }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Administrador">
                                <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef>Administrador</th>
                                <td class="filaTabla" mat-cell *matCellDef="let element">{{
                                    element.NombresAdministradores}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="Accion">
                                <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef>PDF</th>
                                <td class="filaTabla" mat-cell *matCellDef="let element">
                                    <button (click)="eventoVerContratoPDF(element)" mat-icon-button matTooltip="Ver en PDF">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                        <mat-paginator showFirstLastButtons [pageSizeOptions]="[15, 30, 50]"
                            itemsPerPageLabel="Cantidad por página" [pageSize]="15" [hidePageSize]="false">
                        </mat-paginator>
                    </div>
                </div>
                <mat-card class="mat-elevation-z3 noResultado" [hidden]="dataSource.data.length > 0">
                    <span>No se han encontrado resultados</span>
                </mat-card>
            </div>
        </div>
    </div>
</div>