<div class="container d-flex justify-content-center align-items-center">
  <div class="reset-card rounded shadow position-relative w-100" style="max-width: 400px;">
    <button class="btn btn-secundary position-absolute top-0 start-0 m-3" color="primary" (click)="onBack()"
      matTooltip="Regresar">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="reset-header text-center">
      <div class="icon-circle mx-auto mb-3">
        <mat-icon class="key-icon">key</mat-icon>
      </div>
      <h2>Crear Nueva Contraseña</h2>
      <p class="subtitle">Por favor ingresa y confirma tu nueva contraseña</p>
    </div>
    <form *ngIf="Form" [formGroup]="Form" class="reset-form p-3">
      <div class="form-group">
        <label for="password">Nueva Contraseña</label>
        <div class="input-container position-relative">
          <mat-icon class="input-icon position-absolute">lock</mat-icon>
          <input formControlName="nuevaContrasena" autocomplete="off" type="password" class="form-control pl-5" id="password" placeholder="Ingresa tu nueva contraseña">
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <div class="input-container position-relative">
          <mat-icon class="input-icon position-absolute">lock_clock</mat-icon>
          <input formControlName="confirmarContrasena" autocomplete="off" type="password" class="form-control pl-5" id="confirmPassword"
            placeholder="Confirma tu nueva contraseña">
        </div>
      </div>
      <div class="password-requirements">
        <h4>La contraseña debe contener:</h4>
        <ul>
          <li id="lengthCheck">Mínimo 8 caracteres</li>
        </ul>
      </div>
      <button (click)="eventoConfirmar()" mat-raised-button color="primary">
        <mat-icon>save</mat-icon>
        <span>Confirmar</span>
      </button>
    </form>
  </div>
</div>