.contenedor {
    background: linear-gradient(to bottom left, #f5ffffa4, #F1F6F6, #f8ffffa4, #F1F5F6), url('../../../../assets/img/gif/login2.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    padding: 32px;
    position: relative;
    animation: gradient 100s ease infinite;
    min-height: 100vh;
}