<div class="wrapper contenedor">
    <mat-card class="loginCard">
        <mat-card-content style="padding-bottom: 15px;">
            <img class="logo" src="../../../assets/img/adn.png" alt="img login">
            <p class="subtitle">Por favor, inicia sesión para continuar</p>
            <!-- <h3 class="mb-2">Login</h3>     -->
            <form [formGroup]="Form" (ngSubmit)="login()">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="username">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
    
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
                        <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                </mat-form-field>
    
                <button class="full-width" mat-raised-button color="primary" type="submit">
                    Iniciar Sesión
                    <mat-icon matSuffix>login</mat-icon>
                </button>
            </form>
        </mat-card-content>
    </mat-card>
    <app-spinner *ngIf="loading"></app-spinner>
</div>