<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg rounded" style="max-width: 400px; width: 100%;">
        <div class="text-center mb-3">
            <img src="../../../../assets/img/correo.png" alt="Email Icon" width="80">
            <h5 class="mt-2 text-bold">Valida tu Email</h5>
            <p class="text-muted">Ingresa tu correo electrónico para restaurar tu contraseña.</p>
        </div>

        <form [formGroup]="Form" (ngSubmit)="eventoConfirmar()">
            <div class="mb-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Correo Electrónico</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="ejemplo@correo.com">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="Form.get('email')?.invalid && Form.get('email')?.touched">
                        Ingrese un correo válido
                    </mat-error>
                </mat-form-field>
            </div>
            <button type="submit" class="btn btn-secondary w-100" [disabled]="Form.invalid">
                Validar Email
            </button>
        </form>
    </div>
</div>