<div class="card shadow-lg">
    <!-- <div class="card-header text-center">
        <h4 class="titulo">Contratos Por Mes</h4>
    </div> -->
    <div class="card-body">
        <div [ngClass]="{ 'table-loading': loading }">
            <div class="table-loading-message" *ngIf="loading">Cargando...</div>
            <div class="row mt-2">
                <div class="col-12 text-center">
                    <div>
                        <canvas #detallePorMesChart></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>