<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <mat-sidenav #filtersDrawer position="end" class="filters-container">
        <div class="filters-header">
          <div class="row">
            <div class="col-lg-5 col-12 mb-2">
              <button class="w100" mat-raised-button color="primary">Buscar</button>
            </div>
            <div class="col-lg-5 col-12">
              <button class="w100" mat-stroked-button>Limpiar</button>
            </div>
            <div class="col-lg-2 col-12 text-end mb-4">
              <button type="button" mat-icon-button color="basic" class="close-button" (click)="filtersDrawer.toggle()"
                matTooltip="Cerrar">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="advanced-filters-container">
          <div class="row">
            <div class="col-lg-12 mb-4 mt-4">
              <dt class="mb-2">Estado</dt>
              <dd>
                <mat-checkbox>Pendiente</mat-checkbox>
              </dd>
              <dd>
                <mat-checkbox>Finalizado</mat-checkbox>
              </dd>
            </div>

            <mat-form-field class="col-lg-12" appearance="outline">
              <mat-label>Tarea </mat-label>
              <mat-select required>
                <mat-option value="option">Todos</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-lg-12" appearance="outline">
              <mat-label>Área </mat-label>
              <mat-select required>
                <mat-option value="option">Todos</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-lg-12" appearance="outline">
              <mat-label>Responsable</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <mat-form-field class="col-lg-12" appearance="outline">
              <mat-label>Tipo de documento </mat-label>
              <mat-select required>
                <mat-option value="option">Todos</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-lg-12" appearance="outline">
              <mat-label>Fecha de asignación y límite</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>

          </div>
        </div>
      </mat-sidenav>
    </div>
    <div class="col-lg-12 mb-3">
      <div class="row">
        <div class="col-lg-6">
          <span class="titulo-p">bandeja de actividades</span>
        </div>
        <div class="col-lg-6 text-end">
        </div>
      </div>
    </div>
    <div class="col-lg-12 mb-2">
      <div class="row">
        <div class="d-flex mb-3 mt-3 estado-combo">
          <button mat-stroked-button class="active mr-3">Todos</button>
          <button mat-stroked-button class="mr-3">Nuevo Ingreso <span class="contador-r">(8)</span></button>
          <button mat-stroked-button class="mr-3">Recepcionado</button>
          <button mat-stroked-button class="mr-3">Rechazado</button>
          <button mat-stroked-button class="mr-3">Anulado</button>
          <button mat-stroked-button class="">Finalizado</button>
        </div>
        <div class="col-md-8 col-12">
          <div class="row">
            <mat-form-field class="col-12 estado-combo-mob" appearance="outline">
              <mat-label>Seleccione estado</mat-label>
              <mat-select>
                <mat-option value="option">Todos</mat-option>
                <mat-option value="option">Nuevo Ingreso</mat-option>
                <mat-option value="option">Recepcionado</mat-option>
                <mat-option value="option">Rechazado</mat-option>
                <mat-option value="option">Anulado</mat-option>
                <mat-option value="option">Finalizado</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-lg-6" appearance="outline">
              <mat-label>Buscar por número o asunto de expediente</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>

            <mat-form-field class="col-lg-4 col-10" appearance="outline">
              <mat-label>Ordenar por</mat-label>
              <mat-select>
                <mat-option value="option">Tarea</mat-option>
                <mat-option value="option">N° de expediente</mat-option>
                <mat-option value="option">Asunto</mat-option>
                <mat-option value="option">Remitente</mat-option>
                <mat-option value="option">Destinatario</mat-option>
                <mat-option value="option">Fecha de asignación</mat-option>
                <mat-option value="option">Fecha limite</mat-option>
                <mat-option value="option">Tipo de documento</mat-option>
                <mat-option value="option">Responsable</mat-option>
                <mat-option value="option">Estado</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="col-lg-2 col-2">
              <button class="mt-2" mat-icon-button aria-label="orden de lista">
                <mat-icon>sort_by_alpha</mat-icon>
              </button>
              <!-- <button class="mt-2" mat-icon-button aria-label="orden de lista dos">
                                <mat-icon class="sort">sort_by_alpha</mat-icon>
                            </button> -->
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-9 mb-mob-16 text-end">
              <button class="mt-2 mr-3" mat-raised-button color="primary" (click)="filtersDrawer.toggle()">Busqueda
                avanzada</button>
              <button mat-raised-button [matMenuTriggerFor]="beforeMenu">
                Acciones
              </button>
              <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item>
                  <mat-icon>restart_alt</mat-icon>
                  <span>Reasignar</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 mb-2">
      <mat-card>

        <div class="row">
          <div class="col-lg-12 d-flex flex-wrap justify-content-between barra-bandeja-titulo">
            <div class="col-lg-7 d-flex flex-wrap justify-content-start align-items-center">

              <div class="col-lg-4 col-12 d-flex align-items-center mb-mob-8">
                <mat-checkbox class="mr-2"></mat-checkbox>
                <mat-icon class="c-green mr-2">circle</mat-icon>
                <span class="ml-3 font-weight-bold">Evaluar impacto</span>
              </div>

              <div class="col-lg-8 col-12 mb-mob-8 coment-card d-flex align-items-center justify-content-center">
                <mat-icon class="mr-2">folder_open</mat-icon>
                <span> 21-00045 - Informe de calidad del aire 2021-21</span>
              </div>
            </div>

            <div class="col-lg-5 col-12 d-flex justify-content-end align-items-center">
              <div class="col-lg-3 col-6 text-end">
                <h2 class="mb-0"><span class="badge-c4">Pendiente</span></h2>
              </div>
              <div class="col-lg-1 col-6 text-end">
                <button mat-icon-button aria-label="ingresar" matTooltip="Ingresar">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-md-2 col-6">
                <dt>Remitente</dt>
                <dd>ACME SAC</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Destinatario</dt>
                <dd>División de medio ambiente</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Tipo de documento</dt>
                <dd>Carta</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Responsable</dt>
                <dd>David Cueto</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Fecha de asignación</dt>
                <dd>29/12/2021-11:05</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>F. Limite atención</dt>
                <dd>28/12/2021</dd>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col-lg-12 mb-2">
      <mat-card>
        <div class="row">
          <div class="col-lg-12 d-flex flex-wrap justify-content-between barra-bandeja-titulo">
            <div class="col-lg-7 d-flex flex-wrap justify-content-start align-items-center">

              <div class="col-lg-4 col-12 d-flex align-items-center mb-mob-8">
                <mat-checkbox class="mr-2"></mat-checkbox>
                <mat-icon class="c-red mr-2">circle</mat-icon>
                <span class="ml-3 font-weight-bold">Enviar respuesta</span>
              </div>

              <div class="col-lg-8 col-12 mb-mob-8 coment-card d-flex align-items-center justify-content-center">
                <mat-icon class="mr-2">folder_open</mat-icon>
                <span> 21-00045 - Informe de calidad del aire 2021-21</span>
              </div>
            </div>

            <div class="col-lg-5 col-12 d-flex justify-content-end align-items-center">
              <div class="col-lg-3 col-6 text-end">
                <h2 class="mb-0"><span class="badge-c4">Pendiente</span></h2>
              </div>
              <div class="col-lg-1 col-6 text-end">
                <button mat-icon-button aria-label="ingresar" matTooltip="Ingresar">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </div>
            </div>

          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-md-2 col-6">
                <dt>Remitente</dt>
                <dd>ACME SAC</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Destinatario</dt>
                <dd>División de medio ambiente</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Tipo de documento</dt>
                <dd>Carta</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Responsable</dt>
                <dd>David Cueto</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Fecha de asignación</dt>
                <dd>29/12/2021-11:05</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>F. Limite atención</dt>
                <dd>28/12/2021</dd>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col-lg-12 mb-2">
      <mat-card>

        <div class="row">
          <div class="col-lg-12 d-flex flex-wrap justify-content-between barra-bandeja-titulo">
            <div class="col-lg-7 d-flex flex-wrap justify-content-start align-items-center">

              <div class="col-lg-4 col-12 d-flex align-items-center mb-mob-8">
                <mat-checkbox class="mr-2"></mat-checkbox>
                <mat-icon class="c-yellow mr-2">circle</mat-icon>
                <span class="ml-3 font-weight-bold">Archivar</span>
              </div>

              <div class="col-lg-8 col-12 mb-mob-8 coment-card d-flex align-items-center justify-content-center">
                <mat-icon class="mr-2">folder_open</mat-icon>
                <span> 21-00045 - Informe de calidad del aire 2021-21</span>
              </div>
            </div>

            <div class="col-lg-5 col-12 d-flex justify-content-end align-items-center">
              <div class="col-lg-3 col-6 text-end">
                <h2 class="mb-0"><span class="badge-c4">Pendiente</span></h2>
              </div>
              <div class="col-lg-1 col-6">
                <button mat-icon-button aria-label="ingresar" matTooltip="Ingresar">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </div>
            </div>

          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-md-2 col-6">
                <dt>Remitente</dt>
                <dd>ACME SAC</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Destinatario</dt>
                <dd>División de medio ambiente</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Tipo de documento</dt>
                <dd>Carta</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Responsable</dt>
                <dd>David Cueto</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Fecha de asignación</dt>
                <dd>29/12/2021-11:05</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>F. Limite atención</dt>
                <dd>28/12/2021</dd>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col-lg-12 mb-2">
      <mat-card>
        <div class="row">
          <div class="col-lg-12 d-flex flex-wrap justify-content-between barra-bandeja-titulo">
            <div class="col-lg-7 d-flex flex-wrap justify-content-start align-items-center">

              <div class="col-lg-4 col-12 d-flex align-items-center mb-mob-8">
                <mat-checkbox class="mr-2"></mat-checkbox>
                <mat-icon class="c-grey mr-2">circle</mat-icon>
                <span class="ml-3 font-weight-bold">Enviar respuesta</span>
              </div>

              <div class="col-lg-8 col-12 mb-mob-8 coment-card d-flex align-items-center justify-content-center">
                <mat-icon class="mr-2">folder_open</mat-icon>
                <span> 21-00045 - Informe de calidad del aire 2021-21</span>
              </div>
            </div>

            <div class="col-lg-5 col-12 d-flex justify-content-end align-items-center">
              <div class="col-lg-3 col-6 text-end">
                <h2 class="mb-0"><span class="badge-c4">Pendiente</span></h2>
              </div>
              <div class="col-lg-1 col-6 text-end">
                <button mat-icon-button aria-label="ingresar" matTooltip="Ingresar">
                  <mat-icon>arrow_forward</mat-icon>
                </button>
              </div>
            </div>

          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-md-2 col-6">
                <dt>Remitente</dt>
                <dd>ACME SAC</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Destinatario</dt>
                <dd>División de medio ambiente</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Tipo de documento</dt>
                <dd>Carta</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Responsable</dt>
                <dd>David Cueto</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>Fecha de asignación</dt>
                <dd>29/12/2021-11:05</dd>
              </div>
              <div class="col-md-2 col-6">
                <dt>F. Limite atención</dt>
                <dd>28/12/2021</dd>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="col-lg-12 d-flex justify-content-center mt-3">
      <button mat-stroked-button>Ver más</button>
    </div>
  </div>
</div>
