<div class="profile-container">
  <div class="text-end">
    <button mat-raised-button color="primary" (click)="irACambiarContrasena()"  matTooltip="Cambiar Contraseña">
      <mat-icon>lock</mat-icon>
      <span>Cambiar Contraseña</span>
    </button>
  </div>
  <div class="profile-header">
    <div class="profile-avatar">
      <mat-icon class="avatar-icon">account_circle</mat-icon>
      <button mat-raised-button color="primary" (click)="eventoMostrarPopupEditar(Usuario)" matTooltip="Editar">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
    </div>
  </div>
  <div class="profile-info">
    <div class="info-group">
      <label>Nombre</label>
      <p class="info-value">{{Usuario.Nombre}}</p>
    </div>

    <div class="info-group">
      <label>Apellido Paterno</label>
      <p class="info-value">{{Usuario.ApellidoPaterno}}</p>
    </div>

    <div class="info-group">
      <label>Apellido Materno</label>
      <p class="info-value">{{Usuario.ApellidoMaterno}}</p>
    </div>

    <div class="info-group">
      <label>Correo</label>
      <p class="info-value">{{Usuario.Correo}}</p>
    </div>
  </div>
</div>