.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 2rem;
  overflow-y: auto;
  max-height: 97vh;
  scrollbar-width: thin;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;

  .close-btn {
    border-radius: 50%;
    transition: transform 0.2s;

    &:hover {
      transform: rotate(90deg);
    }
  }
}

.notification-card {
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.2s;
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;

  &:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }

  .card-header {
    padding-bottom: 0.5rem;

    mat-card-title {
      font-size: 1.4rem;
      font-weight: bold;
    }

    mat-card-subtitle {
      font-size: 1rem;
    }
  }

  .card-content {
    padding: 0.5rem 0;
    font-size: 1rem;

    p {
      margin: 0;
    }
  }

  .card-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}

.scroll-container {
  max-height: 750px;
  overflow-y: scroll;
  padding-right: 10px;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}