<div class="container">
    <div class="header">
      <button mat-icon-button class="close-btn" (click)="cerrarDrawer()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  
    <mat-card *ngFor="let notificacion of ListaNotificaciones" class="notification-card">
      <mat-card-header class="card-header">
        <div>
          <mat-card-title>{{ notificacion.TituloContrato }}</mat-card-title>
          <mat-card-subtitle>
            <span class="badge">
              <strong>Fecha Vencimiento:</strong> {{ notificacion.FechaVencimientoLabel }}
            </span>
          </mat-card-subtitle>
        </div>
      </mat-card-header>
  
      <mat-card-content class="card-content">
        <p>{{ notificacion.Mensaje }}</p>
      </mat-card-content>
  
      <mat-card-actions class="card-actions">
        <button mat-raised-button color="primary" (click)="verContrato(notificacion.IdContrato)">
          Ver Contrato
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  