<div class="container">
    <div class="row">
        <div class="col-lg-12 mb-3">
            <div class="row">
                <div class="col-lg-6">
                    <button mat-icon-button aria-label="regresar" (click)="onClickRegresar()" matTooltip="Regresar">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <span class="titulo-p">Administración de Matriz Responsables</span>
                </div>
                <div class="col-lg-6 text-end">
                </div>
            </div>
        </div>
        <div class="col-lg-12 ">
            <div class="row">
                <div class="col-lg-7 filtros-pg">
                    <mat-form-field class="col-lg-6" appearance="outline">
                        <mat-label>Buscar...</mat-label>
                        <input matInput placeholder="Buscar..." [(ngModel)]="BusquedaRapida" (keydown.enter)="eventoBuscar()">
                        <mat-icon matSuffix (click)="eventoBuscar()" style="cursor: pointer;">search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-lg-5 text-end">
                    <div class="containerbtnPG">
                        <button class="mt-2" mat-raised-button color="primary" (click)="eventoMostrarPopupRegistrar()">Agregar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="mat-elevation-z3 div-container" [hidden]="dataSource.data.length <= 0">
                <div class="table-resp">
                    <table class="table" mat-table [dataSource]="dataSource" matSort matSortActive="Title" matSortDirection="asc">
                        <ng-container matColumnDef="Id">
                            <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                            <td class="filaTabla" mat-cell *matCellDef="let element">{{ element.Id }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Remitente">
                            <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header>Remitente</th>
                            <td class="filaTabla" mat-cell *matCellDef="let element">{{ element.Remitente.Title }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Motivo">
                            <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header>Motivo</th>
                            <td class="filaTabla" mat-cell *matCellDef="let element">{{ element.Motivo.Title }}</td>
                        </ng-container>                       
                        <ng-container matColumnDef="Usuarios">
                            <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header>Usuarios</th>
                            <td class="filaTabla" mat-cell *matCellDef="let element">{{ element.NombreUsuarios }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Habilitado">
                            <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef mat-sort-header>Habilitado</th>
                            <td class="filaTabla" mat-cell *matCellDef="let element">{{ element.TextoHabilitado }}</td>
                        </ng-container>
                        <ng-container matColumnDef="Acciones">
                            <th class="cabeceraTabla" mat-header-cell *matHeaderCellDef></th>
                            <td class="filaTabla" mat-cell *matCellDef="let element">
                                <button mat-icon-button (click)="eventoMostrarPopupEditar(element)" matTooltip="Editar">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <!--<button mat-icon-button (click)="eventoEliminar(element)" matTooltip="Eliminar">
                                    <mat-icon>delete</mat-icon>
                                </button>-->
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <mat-paginator showFirstLastButtons [pageSizeOptions]="[10, 20, 30]" itemsPerPageLabel="Cantidad por página" [pageSize]="10" [hidePageSize]="false">
                    </mat-paginator>
                </div>
            </div>
            <mat-card class="mat-elevation-z3 noResultado" [hidden]="dataSource.data.length > 0">
                <span>No se han encontrado resultados</span>
            </mat-card>
        </div>

    </div>
</div>