<h2 mat-dialog-title>{{TituloPopup}}</h2>
<div mat-dialog-content>
    <div class="row" *ngIf="Form" [formGroup]="Form">
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" autocomplete="off" [maxlength]="255">
            <mat-error>
                <app-error-validation-display [FormControl]="Form.get('nombre')">
                </app-error-validation-display>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput formControlName="apellidoPaterno" autocomplete="off" [maxlength]="255">
            <mat-error>
                <app-error-validation-display [FormControl]="Form.get('apellidoPaterno')">
                </app-error-validation-display>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>Apellido Materno</mat-label>
            <input matInput formControlName="apellidoMaterno" autocomplete="off" [maxlength]="255">
            <mat-error>
                <app-error-validation-display [FormControl]="Form.get('apellidoMaterno')">
                </app-error-validation-display>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="correo" autocomplete="off" [maxlength]="255">
            <mat-error>
                <app-error-validation-display [FormControl]="Form.get('correo')">
                </app-error-validation-display>
            </mat-error>
        </mat-form-field>
        <!-- <mat-form-field class="col-lg-12" appearance="outline">
            <mat-label>Puesto</mat-label>
            <mat-select formControlName="idPuesto">
                <mat-option *ngFor="let Item of ListaAdmPuesto" [value]="Item.Id">{{ Item.Nombre }}</mat-option>
            </mat-select>
            <mat-error>
                <app-error-validation-display [FormControl]="Form.get('idPuesto')">
                </app-error-validation-display>
            </mat-error>
        </mat-form-field> -->
        <mat-form-field class="col-lg-12" appearance="outline">
            <mat-label>Área</mat-label>
            <mat-select formControlName="idArea">
                <mat-option *ngFor="let Item of ListaAdmArea" [value]="Item.Id">{{ Item.Nombre }}</mat-option>
            </mat-select>
            <mat-error>
                <app-error-validation-display [FormControl]="Form.get('idArea')">
                </app-error-validation-display>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-lg-12" appearance="outline">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="rol">
                <mat-option *ngFor="let Item of ListaAdmRol" [value]="Item">{{ Item }}</mat-option>
            </mat-select>
            <mat-error>
                <app-error-validation-display [FormControl]="Form.get('rol')">
                </app-error-validation-display>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12" appearance="outline">
            <mat-label>Habilitado</mat-label>
            <mat-select formControlName="habilitado">
                <mat-option [value]="true">Sí</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
            <mat-error>
                <app-error-validation-display [FormControl]="Form.get('habilitado')">
                </app-error-validation-display>
            </mat-error>
        </mat-form-field>
        <div>
            <hr>
        </div>
    </div>
</div>
<div mat-dialog-actions class="text-center block-full-width" style="display: block;">
    <button mat-stroked-button color="primary" (click)="dialogRef.close()">Cancelar</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="eventoGuardar()">Guardar</button>
</div>