<div class="container">
    <div class="row mt-4">
        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-md-12 col-12">
                    <span class="titulo-p">Administración</span>
                </div>
                <div class="">
                    <hr class="dash">
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-3">
            <div class="row">
                <div class="col-md-4 col-12 mt-3">
                    <mat-card appMaterialElevation matRipple class="cursor-pointer bg-gra" (click)="Navegar('/administracion-areas')">
                        <div class="row">
                            <div class="col-12 calc-height">
                                <mat-icon class="icon-home-selector">domain</mat-icon>
                                <h3 class="h3-home"> Áreas</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>                
                <div class="col-md-4 col-12 mt-3">
                    <mat-card appMaterialElevation matRipple class="cursor-pointer bg-gra" (click)="Navegar('/administracion-bancos')">
                        <div class="row">
                            <div class="col-12 calc-height">
                                <mat-icon class="icon-home-selector">account_balance</mat-icon>
                                <h3 class="h3-home">Bancos</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4 col-12 mt-3">
                    <mat-card appMaterialElevation matRipple class="cursor-pointer bg-gra" (click)="Navegar('/administracion-compania-aseguradoras')">
                        <div class="row">
                            <div class="col-12 calc-height">
                                <mat-icon class="icon-home-selector">verified</mat-icon>
                                <h3 class="h3-home">Compañias Aseguradoras</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4 col-12 mt-3">
                    <mat-card appMaterialElevation matRipple class="cursor-pointer bg-gra" (click)="Navegar('/administracion-metodo-entrega')">
                        <div class="row">
                            <div class="col-12 calc-height">
                                <mat-icon class="icon-home-selector">directions_car</mat-icon>
                                <h3 class="h3-home">Metodos de Entregas</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4 col-12 mt-3">
                    <mat-card appMaterialElevation matRipple class="cursor-pointer bg-gra" (click)="Navegar('/administracion-monedas')">
                        <div class="row">
                            <div class="col-12 calc-height">
                                <mat-icon class="icon-home-selector">monetization_on</mat-icon>
                                <h3 class="h3-home">Monedas</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4 col-12 mt-3">
                    <mat-card appMaterialElevation matRipple class="cursor-pointer bg-gra" (click)="Navegar('/administracion-proveedores')">
                        <div class="row">
                            <div class="col-12 calc-height">
                                <mat-icon class="icon-home-selector">store</mat-icon>
                                <h3 class="h3-home">Proveedores</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4 col-12 mt-3">
                    <mat-card appMaterialElevation matRipple class="cursor-pointer bg-gra" (click)="Navegar('/administracion-sistema-contratacion')">
                        <div class="row">
                            <div class="col-12 calc-height">
                                <mat-icon class="icon-home-selector">gavel</mat-icon>
                                <h3 class="h3-home">Sistema de Contratacion</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4 col-12 mt-3">
                    <mat-card appMaterialElevation matRipple class="cursor-pointer bg-gra" (click)="Navegar('/administracion-tipo-adenda')">
                        <div class="row">
                            <div class="col-12 calc-height">
                                <mat-icon class="icon-home-selector">add_circle</mat-icon>
                                <h3 class="h3-home">Tipo de Adendas</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4 col-12 mt-3">
                    <mat-card appMaterialElevation matRipple class="cursor-pointer bg-gra" (click)="Navegar('/administracion-tipo-contrato')">
                        <div class="row">
                            <div class="col-12 calc-height">
                                <mat-icon class="icon-home-selector">file_copy</mat-icon>
                                <h3 class="h3-home">Tipo de Contratos</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4 col-12 mt-3">
                    <mat-card appMaterialElevation matRipple class="cursor-pointer bg-gra" (click)="Navegar('/administracion-tipo-documento')">
                        <div class="row">
                            <div class="col-12 calc-height">
                                <mat-icon class="icon-home-selector">insert_drive_file</mat-icon>
                                <h3 class="h3-home">Tipo de Documentos</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4 col-12 mt-3">
                    <mat-card appMaterialElevation matRipple class="cursor-pointer bg-gra" (click)="Navegar('/administracion-tipo-garantia')">
                        <div class="row">
                            <div class="col-12 calc-height">
                                <mat-icon class="icon-home-selector">verified_user</mat-icon>
                                <h3 class="h3-home">Tipo de Garantias</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="col-md-4 col-12 mt-3">
                    <mat-card appMaterialElevation matRipple class="cursor-pointer bg-gra" (click)="Navegar('/administracion-tipo-poliza')">
                        <div class="row">
                            <div class="col-12 calc-height">
                                <mat-icon class="icon-home-selector">policy</mat-icon>
                                <h3 class="h3-home">Tipo de Polizas</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>                
                <div class="col-md-4 col-12 mt-3">
                    <mat-card appMaterialElevation matRipple class="cursor-pointer bg-gra" (click)="Navegar('/administracion-usuarios')">
                        <div class="row">
                            <div class="col-12 calc-height">
                                <mat-icon class="icon-home-selector">group</mat-icon>
                                <h3 class="h3-home">Usuarios</h3>
                            </div>
                        </div>
                    </mat-card>
                </div>                
            </div>
        </div>
    </div>
</div>