<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <span class="titulo-p">DASHBOARD</span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6">
            <app-dashboard-por-estado></app-dashboard-por-estado>
        </div>
        <div class="col-lg-6">
            <app-dashboard-por-mes></app-dashboard-por-mes>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-6">
            <app-dashboard-por-tipo></app-dashboard-por-tipo>
        </div>
        <div class="col-lg-6">
            <app-dashboard-por-proveedor></app-dashboard-por-proveedor>
        </div>
    </div>
</div>